body {
    background-color: #f7f7f7;
}

.no-gutter > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.fixed-top {
    top: -40px;
    transform: translateY(40px);
    transition: transform .3s;
}

.myImg {
    width: 150px;
    height: 150px;
}

.myBtn {
    background-color: #1F100D;
    color: white;
    border: 1px solid white;
}

.myBtn:hover {
    background-color: #1F100D;
    color: darkgoldenrod;
    border: 1px solid darkgoldenrod;
}

@media screen and (max-width: 600px) {
    .logoReg {
        font-size: 0;
    }

    .logoReg:after {
        content: "STIGMAT ONLINE | РЕГИСТРАЦИЯ";
        font-size: initial;
    }

    .logoLog {
        font-size: 0;
    }

    .logoLog:after {
        content: "STIGMAT ONLINE | АВТОРИЗАЦИЯ";
        font-size: initial;
    }

    .logoAd{
        font-size: 0;
    }

    .logoAd:after {
        content: "STIGMAT ONLINE | АДМИН";
        font-size: initial;
    }
}



