body {
    background-color: #f7f7f7;
}

.no-gutter > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.fixed-top {
    top: -40px;
    transform: translateY(40px);
    transition: transform .3s;
}

.myImg {
    width: 150px;
    height: 150px;
}

.myBtn {
    background-color: #1F100D;
    color: white;
    border: 1px solid white;
}

.myBtnDel {
    background-color: #5a1b0d;
    color: white;
    border: 1px solid white;
}

.myBtnDel:hover {
    background-color: #662010;
    color: white;
    border: 1px solid white;
}

.myBtn:hover {
    background-color: #351e19;
    color: white;
}

.myBox:hover {
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
}

.pd-parallax {
    position: relative;
    opacity: 0.85;
    background: url("../images/header.png") no-repeat fixed;
    min-height: 250px;
    margin: 0;
    padding: 0;
}


.noBtn {
    display: none;
}


@media screen and (max-width: 600px) {
    .logoReg {
        font-size: 0;
    }

    .logoReg:after {
        content: "РЕГИСТРАЦИЯ";
        font-size: initial;
    }

    .logoLog {
        font-size: 0;
    }

    .logoLog:after {
        content: "АВТОРИЗАЦИЯ";
        font-size: initial;
    }

    .logoAd {
        font-size: 0;
    }

    .logoAd:after {
        content: "АДМИНИСТРАЦИЯ";
        font-size: initial;
    }

    .pd-parallax {
        display: none;
    }

    .im404 {
        width: 300px;
        height: 150px;
    }
}




